@model MarketAPP.Model.CategoryViewModel

@{
    ViewBag.Title = "Create";
}
<link href="~/Content/css/StyleSheet1.css" rel="stylesheet" />

<section class="checkout-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-2 order-lg-1">
                @using (Html.BeginForm("Create", "Category", FormMethod.Post, new { data_toggle = "validator", role = "form", @class = "checkout-form" }))
                {

                    <div class="cf-title">Ana Kategori Ekle</div>
                    if (@TempData["Mesaj"] != null)
                    {
                        <div class="alert alert-success">
                            <div class="container">
                                <div class="alert-icon">
                                    <i class="material-icons"></i>
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="material-icons">x</i></span>
                                </button>
                                <b>MESAJ:</b> @TempData["Mesaj"]
                            </div>
                        </div>
                    }

                    <div class="row address-inputs">
                        <div class="col-md-12">
                            <label>Kategori Adı</label>
                            <input type="text" placeholder="Kategori Adı" id="CategoryName" name="CategoryName" required>
                        </div>
                    </div>
                    <button type="submit" class="site-btn submit-order-btn">Ekle</button>
                }
                <br />
                <br />
                @using (Html.BeginForm("Create", "Category", FormMethod.Post, new { data_toggle = "validator", role = "form", @class = "checkout-form" }))
                {

                    <div class="cf-title">Alt Kategori Ekle</div>
                    <div class="row address-inputs">
                        <div class="col-md-12">

                            <label>Kategori Adı</label>
                            <select id="TopCategoryId" name="TopCategoryId">
                                <option value="0">Seçiniz</option>
                                @foreach (var item in Model.CategoryList.Where(x => x.TopCategoryId == null))
                                {
                                    <option value="@item.Id">@item.CategoryName</option>
                                }

                            </select>
                            <label>Kategori Adı</label>
                            <input type="text" placeholder="Kategori Adı" id="CategoryName" name="CategoryName" required>
                        </div>

                    </div>
                    <button type="submit" class="site-btn submit-order-btn">Ekle</button>

                }

            </div>
        </div>
    </div>
</section>


