@model List<MarketAPP.Model.CategoryViewModel>
<div class="col-lg-3 order-2 order-lg-1">
    <div class="filter-widget">
        <h2 class="fw-title">KATEGORİLER</h2>
        <ul class="category-menu">
            @foreach (var item in Model.Where(x => x.TopCategoryId == null))
            {

                <li>
                    <a href="/Product/Index/@item.Id">@item.CategoryName</a>

                    @if (Model.Where(x => x.TopCategoryId == item.Id).ToList().Count > 0)
                    {


                        <ul class="sub-menu">
                            @foreach (var subcat in Model.Where(x => x.TopCategoryId == item.Id))
                            {
                                <li><a href="/Product/Index/@subcat.Id">@subcat.CategoryName </a></li>

                            }
                        </ul>

                    }


                </li>
            }
        </ul>
    </div>
 
</div>

